langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
langchain-huggingface
langchain-text-splitters
langchain-ollama

chromadb

gradio

python-dotenv

openai
ollama

sentence-transformers